.login-signup-btn {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #2a2828;
    padding: 14px 28px 14px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-weight: 600;
    color: whitesmoke;
}
.login-signup-btn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

.toy-btns{
    border: 1px solid #efe7e7;
    border-radius: 6px;
    margin: 0 2px 4px;
}

.toy-btns:hover{
    background-color: #00ced117;
}